.player {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 1000;

  .player-main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .player-btns {
    display: flex;
    justify-content: center;
    color: #fff;
    line-height: 50px;

    span {
      cursor: pointer;
      margin: 0 10px;
      &.aside-icon {
        font-size: 24px;
      }
      &.play-icon {
        font-size: 34px;
      }
      &:hover {
        color: #f76669;
      }
    }
  }

  .player-progress {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    .time {
      font-size: 12px;
      color: #606266;
    }
    .player-progress-bar {
      width: 400px;
      height: 3px;
      border-radius: 3px;
      background: #606266;
      margin: 0 10px;
      position: relative;

      &:hover {
        height: 6px;
        border-radius: 6px;
        background: #6f6f6f;
        .player-progress-al {
          border-radius: 6px;
        }

        .player-progress-dot {
          display: block;
        }
      }
    }

    .player-progress-al {
      width: 0;
      height: 100%;
      border-radius: 3px;
      background: #f76669;
      position: absolute;
      left: 0;
      top: 0;
    }

    .player-progress-dot {
      display: none;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background: #f76669;
      position: absolute;
      left: -3px;
      top: -3px;
    }
  }

  .player-volume {
    position: absolute;
    top: 56px;
    left: 50%;
    margin-left: 290px;

    .player-volume-icon {
      color: #fff;

      &:hover {
        color: #f76669;
      }

      i {
        font-size: 22px;
      }
    }

    .player-volume-progress {
      float: left;
      display: flex;
      height: 24px;
      align-items: center;
      margin-left: 10px;
      .time {
        font-size: 12px;
        color: #606266;
      }
      .player-volume-progress-bar {
        width: 100px;
        height: 3px;
        border-radius: 3px;
        background: #606266;
        position: relative;

        &:hover {
          .player-volume-progress-dot {
            display: block;
          }
        }
      }

      .player-volume-progress-al {
        width: 0;
        height: 100%;
        border-radius: 3px;
        background: #f76669;
        position: absolute;
        left: 0;
        top: 0;
      }

      .player-volume-progress-dot {
        display: none;
        width: 9px;
        height: 9px;
        border-radius: 9px;
        background: #f76669;
        position: absolute;
        left: -3px;
        top: -3px;
      }
    }
  }

  .player-list {
    position: absolute;
    right: 10px;
    top: 20px;
    .collapse-btn {
      font-size: 20px;
      color: #C0C4CC;
    }

    .player-list-container {
      box-sizing: border-box;
      width: 300px;
      position: fixed;
      top: 0;
      bottom: 116px;
      right: 0;
      // background: #1d1d1d;
      background: rgba(0, 0, 0, .5);
      transition: right ease .3s;
      padding: 30px 20px;

      .player-list-clear {
        line-height: 22px;
        text-align: right;
        color: #fff;
        margin-bottom: 10px;
        font-size: 14px;
        span {
          cursor: pointer;
        }
      }

      ul {
        height: calc(100% - 32px);
        padding: 0 10px 0 0;
        margin: 0;
        overflow: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 4px;
        }
      
        &::-webkit-scrollbar-thumb {
          width: 4px;
          background: rgba(119, 119, 119, 0.6);
          border-radius: 2px;
        }

        li {
          display: flex;
          margin-bottom: 20px;
          font-size: 14px;
          line-height: 22px;
          height: 22px;
          cursor: default;
          user-select: none;
          &:last-child {
            margin-bottom: 0;
          }

          &.playing {
            .list-title {
              color: #f76669;
            }
            .list-time {
              display: none;
            }
            .list-icon {
              display: block;
            }
          }

          &:hover {
            .list-time {
              display: none;
            }
            .list-delete {
              display: block;
            }
            .list-icon {
              display: none;
            }
          }
        }
        .list-title {
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #d8d8d8;
        }
        .list-time {
          width: 20%;
          font-size: 12px;
          color: #8c8c8c;
          text-align: right;
        }
        .list-icon {
          display: none;
          width: 20%;
          font-size: 12px;
          color: #f76669;
          text-align: right;
        }
        .list-delete {
          display: none;
          width: 20%;
          font-size: 14px;
          color: #f76669;
          text-align: right;
          i {
            cursor: pointer;
          }
        }
      }
    }
  }

  // audio {
  //   position: absolute;
  //   z-index: -1;
  //   opacity: 0;
  // }
}
