.player {
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 1000;

  .player-main {
    width: 1200px;
    margin: 0 auto;
  }

  .player-btns {
    display: flex;
    justify-content: center;
    color: #fff;
    line-height: 50px;

    span {
      cursor: pointer;
      margin: 0 10px;
      &.aside-icon {
        font-size: 24px;
      }
      &.play-icon {
        font-size: 34px;
      }
      &:hover {
        color: #f76669;
      }
    }
  }

  .player-progress {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    .time {
      font-size: 12px;
      color: #606266;
    }
    .player-progress-bar {
      width: 400px;
      height: 3px;
      border-radius: 3px;
      background: #606266;
      margin: 0 10px;
      position: relative;

      &:hover {
        height: 6px;
        border-radius: 6px;
        background: #6f6f6f;
        .player-progress-al {
          border-radius: 6px;
        }

        .player-progress-dot {
          display: block;
        }
      }
    }

    .player-progress-al {
      width: 0;
      height: 100%;
      border-radius: 3px;
      background: #f76669;
      position: absolute;
      left: 0;
      top: 0;
    }

    .player-progress-dot {
      display: none;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background: #f76669;
      position: absolute;
      left: -3px;
      top: -3px;
    }
  }

  // audio {
  //   position: absolute;
  //   z-index: -1;
  //   opacity: 0;
  // }
}
